<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{artistInfo.artist_name}}</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
 
<link href="../../static/css/artist_splash.css" rel="stylesheet">
     
    <!-- Artist CSS -->
    <link href="../../static/css/artists.css" rel="stylesheet">

  </head>
  <body id="page-top">
<div class="inner">
          <nav class="navbar navbar-dark nav-masthead justify-content-center">
            <a class="nav-masthead nav-link" href="/"><h5><img src='../static/images/logo.png' class="logo_img">SpotiPy</h5></a>
            <a class="nav-link active" href="/about/"><h5>About</h5></a>
            <a class="nav-link" href="/albums/1"><h5>Albums</h5></a>
            <a class="nav-link" href="/artists/1"><h5>Artists</h5></a>
            <a class="nav-link" href="/tracks/1"><h5>Tracks</h5></a>
          </nav>
        </div>

<!-- Portfolio -->
    <section class="content-section" id="portfolio">
      <div class="container">
        <div class="content-section-heading text-center">
          <h2 class="mb-5">{{artistInfo.artist_name}}</h2>
        </div>

<div class="wrapper">
    <div class="one"><img src="{{artistInfo.img}}"></div>
    <div class="two"><h1>Genres</h1><p>
          {{artistInfo.genre}}</p></div>
    <div class="three"><h1>Popularity</h1><p>{{artistInfo.popularity}}</p></div>
    <div class="four"><h1>Spotify ID</h1><p>{{artistInfo.artist_id}}</p></div>
    <div class="five"><h1>Followers</h1><p>{{artistInfo.followers}}</p></div>
    <div class="six"><h1>Featured Albums</h1>
{% for row in artist_albums %}
<p><a href="{{url_for('albums')}}{{row.album_id}}">{{row.album_name}}</a></p>
{% endfor %}
</div>
<div class="seven"><h1>Featured Tracks</h1>
{% for row in artist_tracks %}
<p><a href="{{url_for('tracks')}}{{row.track_id}}">{{row.track_name}}</a></p>
{% endfor %}
</div>
</div>

<!-- Bootstrap core JavaScript -->
    <script src="../../static/js/jquery.min.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../../static/js/stylish-portfolio.min.js"></script>


        </div>
      </section>
    </body>
</html>

