.wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 2fr 2fr;
  grid-template-rows: repeat(75px);
    
    
  margin-left: 7%;
  margin-right:7%;
  margin-top: %-1;
    
  padding-left: 3%;
  padding-right:3%;
  padding-top:3%;
  padding-bottom:3%;
    
  border-radius:10px;
  background-color: #D4C5B0;
    
  grid-template-areas: 
      "one . two two two"
      "one . . . ."
      "one . three three three"
      "one . . . ."
      "one . four four four"
      "one . . . ."
      "one . five five five"
      "one . . . ."
      "six six six six six";

}
.one {
  grid-area:one;
  margin-bottom: 15%;
}
.one img {
    border-radius: 7px;
    width:500px;
    height:auto;
}
/*======================*/
.two { 
  grid-area:two;
}
.two h1 {
    font-size:175%;
}
/*======================*/
.three {
  grid-area:three;
}
.three h1 {
    font-size:175%;
}
/*======================*/
.four {
  grid-area:four;
}
.four h1 {
    font-size:175%;
}
/*======================*/
.five {
  grid-area:five;
}
.five h1{
    font-size:175%;
}
/*======================*/
.six {
  grid-area:six;
  margin-top: -5%;
}
.six h1 {
    border-style: solid;
    border: 10px;
}
