<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{trackInfo.track_name}}</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="../../static/css/artist_splash.css" rel="stylesheet">

    <!-- Tracks CSS -->
    <link href="../../static/css/artists.css" rel="stylesheet">

  </head>
  <body id="page-top">
<div class="inner">
          <nav class="navbar navbar-dark nav-masthead justify-content-center">
            <a class="nav-masthead nav-link" href="/"><h5><img src='../static/images/logo.png' class="logo_img">SpotiPy</h5></a>
            <a class="nav-link active" href="/about/"><h5>About</h5></a>
            <a class="nav-link" href="/albums/1"><h5>Albums</h5></a>
            <a class="nav-link" href="/artists/1"><h5>Artists</h5></a>
            <a class="nav-link" href="/tracks/1"><h5>Tracks</h5></a>
          </nav>
        </div>

<!-- Portfolio -->
    <section class="content-section" id="portfolio">
      <div class="container">
        <div class="content-section-heading text-center">
          <h2 class="mb-5"> {{trackInfo.track_name}}</h2>
        </div>

<div class="wrapper">
    <div class="one"><img src="{{albumInfo.img}}"></div>
    <div class="two"><h1>ID</h1><p>
          {{trackInfo.track_id}}</p></div>
    <div class="three"><h1>Album</h1><p><a href="{{url_for('albums')}}{{albumInfo.album_id}}">{{albumInfo.album_name}}</a></p></div>
    <div class="four"><h1>Artist</h1><p><a href="{{url_for('artists')}}{{artistInfo.artist_id}}">{{artistInfo.artist_name}}</a></p></div>
    <div class="five"><h1>Type</h1><p>{{trackInfo.type}}</p></div>
    <div class="six"><h1>Duration (ms)</h1><p>{{trackInfo.duration}}</a></p></div>
    <div class="seven"><h1>Explicit</h1><p>{{trackInfo.explicit}}</a></p></div>
</div>

<!-- Bootstrap core JavaScript -->
    <script src="../../static/js/jquery.min.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../../static/js/stylish-portfolio.min.js"></script>


        </div>
      </section>
    </body>
</html>

