<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Albums</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="../static/css/artists.css" rel="stylesheet">

  </head>
  <body id="page-top">
<div class="inner">
          <nav class="navbar navbar-dark nav-masthead justify-content-center">
            <a class="nav-masthead nav-link" href="/"><h5><img src='../static/images/logo.png' class="logo_img">SpotiPy</h5></a>
            <a class="nav-link" href="/about/"><h5>About</h5></a>
            <a class="nav-link active" href="/albums/1"><h5>Albums</h5></a>
            <a class="nav-link" href="/artists/1"><h5>Artists</h5></a>
            <a class="nav-link" href="/tracks/1"><h5>Tracks</h5></a>
          </nav>
        </div>

<!-- Portfolio -->
    <section class="content-section" id="portfolio">
      <div class="container">
        <div class="content-section-heading text-center">
          <h3 class="text-secondary mb-0"></h3>
          <h2 class="text-secondary mb-5">Albums</h2>
        </div>
<div class="sortSearch">
          <a class="btn btn-default" href="{{ url_for('albumsPage',page=1,sort='album_name',direction='asc') }}">Sort by Album Name (asc)</a>
<a class="btn btn-default" href="{{ url_for('albumsPage',page=1,sort='number_tracks',direction='asc') }}">Sort by Number Tracks (asc)</a>
<br>
          <a class="btn btn-default" href="{{ url_for('albumsPage',page=1,sort='album_name',direction='desc') }}">Sort by Album Name (desc)</a>
          <a class="btn btn-default" href="{{ url_for('albumsPage',page=1,sort='number_tracks',direction='desc') }}">Sort by Number Tracks (desc)</a><br>
    {% if albums.has_prev %}
      <a class="btn btn-default" id="prev" href="{{ url_for('albumsPage',page=albums.prev_num) }}" rel="prev">Prev</a>
    {% endif %}
          <form>
            <input id="search" type="text" placeholder="Search (Case-Sensitive!)" name="search" href="{{ url_for('albumsPage',page=1) }}">
          </form>
{% if albums.has_next %}
      <a class="btn btn-default" id="next" href="{{ url_for('albumsPage',page=albums.next_num) }}" rel="next">Next</a>
    {% endif %}
</div>
        <div class="row no-gutters">
          {% for row in albums.items %}
          <div class="col-lg-6">
            <a class="portfolio-item" href="{{row.album_id}}" onmouseover=Show("{{row.album_id}}") onmouseout=Hide("{{row.album_id}}")>
              <span class="caption">
                <span id="{{row.album_id}}" class="caption-content" style="display:none">
                  <h2>{{row.album_name}}</h2>
                  <p class="mb-0">by {{row.artist_name}}</p>
                </span>
              </span>
              <img class="img-fluid" src="{{row.img}}" alt="">
            </a>
          </div>
          {% endfor %} 
    </section>
</body>
<!-- Bootstrap core JavaScript -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../static/js/stylish-portfolio.min.js"></script>
    <script src="../static/js/hideShow.js"></script>
</html>
