<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SpotiPy</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="../static/css/index.css" rel="stylesheet">

  </head>
  <body id="page-top" style="padding-bottom:60px;">
        <div class="inner">
          <nav class="navbar navbar-dark nav-masthead justify-content-center">
            <a class="nav-masthead nav-link active" href="{{url_for('index')}}"><h5><img src="../static/images/logo.png" class="logo_img">SpotiPy</h5></a>
            <a class="nav-link" href="{{ url_for('about') }}"><h5>About</h5></a>
            <a class="nav-link" href="{{ url_for('albumsPage',page=1) }}"><h5>Albums</h5></a>
            <a class="nav-link" href="{{ url_for('artistsPage',page=1) }}"><h5>Artists</h5></a>
            <a class="nav-link" href="{{ url_for('tracksPage',page=1) }}"><h5>Tracks</h5></a>
          </nav>
        </div>

<!-- Portfolio -->
    <section class="content-section" id="portfolio">
      <div class="container-fluid">
        <div class="row no-gutters">
          <div class="col-lg">
            <a class="portfolio-item">
              <span class="caption">
                <span class="caption-content">
             <h2><img class="logo_portfolio" src="../static/images/logo.png">SpotiPy</h2>
                  <p>Welcome to the SpotiPy Database! Spotipy.me is an immersion into the Spotify music community, allowing visitors to search for and view popular artists, albums, and tracks.</p>
                </span>
              </span>
              <img class="img-fluid" src="" alt="">
            </a>
        </div>
    </section>
</body>
<!-- Bootstrap core JavaScript -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../static/js/stylish-portfolio.min.js"></script>


</html>
