<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tracks</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="../static/css/artists.css" rel="stylesheet">

  </head>
  <body id="page-top">
<div class="inner">
          <nav class="navbar navbar-dark nav-masthead justify-content-center">
            <a class="nav-masthead nav-link" href="/"><h5><img src='../static/images/logo.png' class="logo_img">SpotiPy</h5></a>
            <a class="nav-link" href="/about/"><h5>About</h5></a>
            <a class="nav-link" href="/albums/1"><h5>Albums</h5></a>
            <a class="nav-link" href="/artists/1"><h5>Artists</h5></a>
            <a class="nav-link active" href="/tracks/1"><h5>Tracks</h5></a>
          </nav>
        </div>


<!-- Portfolio -->
    <section class="content-section" id="portfolio">
      <div class="container">
        <div class="content-section-heading text-center">
          <h3 class="text-secondary mb-0"></h3>
          <h2 class="text-secondary mb-5">Tracks</h2>
        </div>
<div class="sortSearch">
          <a class="btn btn-default" href="{{ url_for('tracksPage',page=1,sort='track_name',direction='asc') }}">Sort by Track Name (asc)</a>
<a class="btn btn-default" href="{{ url_for('tracksPage',page=1,sort='duration',direction='asc') }}">Sort by Duration (asc)</a>
<br>
          <a class="btn btn-default" href="{{ url_for('tracksPage',page=1,sort='track_name',direction='desc') }}">Sort by Track Name (desc)</a>
          <a class="btn btn-default" href="{{ url_for('tracksPage',page=1,sort='duration',direction='desc') }}">Sort by Duration (desc)</a>
<br>
{% if tracks.has_prev %}
      <a class="btn btn-default prev" id="prev" href="{{ url_for('tracksPage',page=tracks.prev_num) }}" rel="prev">Prev</a>
    {% endif %}
          <form>
            <input id="search" type="text" placeholder="Search (Case-Sensitive!)" name="search" href="{{ url_for('tracksPage',page=1) }}">
          </form>
{% if tracks.has_next %}
      <a class="btn btn-default next" id="next" href="{{ url_for('tracksPage',page=tracks.next_num) }}" rel="next">Next</a>
    {% endif %}
</div>
        <div class="row no-gutters">
          {% for row in tracks.items %}
          <div class="col-lg-6">
            <a class="portfolio-item" href="{{row.track_id}}" onmouseover=Show("{{row.track_id}}") onmouseout=Hide("{{row.track_id}}")>
              <span class="caption">
                <span class="caption-content" id="{{row.track_id}}" style="display:none">
                  <h2>{{row.track_name}}</h2>
                  <p class="mb-0">{{row.type}}</p>
                </span>
              </span>
             <img class="img-fluid" src="{{row.img}}" alt="">
            </a>
          </div>
        {% endfor %}
	</section>
</body>
<!-- Bootstrap core JavaScript -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/hideShow.js"></script>
    <!-- Custom scripts for this template -->
    <script src="../static/js/stylish-portfolio.min.js"></script>


</html>
